body{
    height: 100vh;
    margin: 0;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
#header{
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: 40px;
}
#footer{
margin-top: 40px;
}
#wrapper{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 1fr;

}
#wrapper > #players{
    grid-column: 1/2;
    background-color: aqua;
}
#wrapper > #gameinfo{
    grid-column: 3/4;
    background-color: aqua;
}
#wrapper > #game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px black;
}
#game > .cell{
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    font-size: 6em;
}
.cell:hover{
    cursor: pointer;
    background-color: rgb(180, 177, 177);
}